.popover-wrapper {
  z-index: var(--z-index-popover);
  background-color: var(--popover-bg-color);
  border-radius: var(--popover-border-radius);
  box-shadow: var(--popover-shadow);

  &.bottom, &.bottom-start, &.bottom-end {
    margin-top: 8px;
  }

  &.right, &.right-start, &.right-end {
    margin-left: 8px;
  }

  .arrow {
    z-index: -1;
    &::before {
      content: "";
      transform: rotate(45deg);
      background: var(--popover-bg-color);
      top: 0;
      left: 0;
      width: 10px;
      height: 10px;
      position: absolute;
      z-index: -1;
    }

    &.bottom, &.bottom-start, &.bottom-end {
      &::before {
        top: -5px;
        left: -6px;
      }
    }

    &.right, &.right-start, &.right-end {
      &::before {
        top: -5px;
        left: -4px;
      }
    }
  }
}
