.onboarding-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .welcome-block {
    text-align: center;
    .logo {
      border-radius: 50%;
      height: 200px;
    }
    .title {
      font-size: 2rem;
      margin-top: 30px;
      letter-spacing: 3px;
    }
    .sub-title {
      margin-top: 10px;
      color: var(--text-secondary);
      letter-spacing: 1px;
      margin-bottom: 50px;
    }

    .workspace-basic {
      display: flex;
      margin: 40px 0;
      min-width: 600px;

      .icon-selector-block {
        margin-right: 20px;
        font-size: 2rem;
        padding: 14px;
      }
      .input-component {
        font-size: 1.3rem;
      }
    }

    .sync-icon {
      font-size: 6rem;
    }

    .btn-ml {
      margin-left: 30px;
    }

    &.sync {
      .title {
        margin: 20px 0;
      }
    }
  }

  .svg-image {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      max-width: 100%;
      width: 80%;
    }
    .add-workspace-svg {
      color: var(--primary-color);
    }
  }

  .form-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .onboarding-title {
      font-size: 2rem;
      padding: 50px 0;
    }
    .workspace-modal {
      .modal-footer  {
        display: flex;
        justify-content: center;
        padding-top: 20px;
      }
    }
  }
}
