.form-item {
  display: flex;
  margin: 15px 0;

  .label {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 16px;
    font-size: 0.9rem;
  }
  .component {
    &.input {
      padding-top: 3px;
    }
    &.switch {
      padding-top: 6px;
    }
    .error-msg {
      margin-top: 1px;
    }
  }
}
