.tab-list-wrapper {
  display: flex;
  border-bottom: 2px solid var(--gray-500);
  width: 100%;

  .list-item {
    display: flex;
    align-items: center;
    position: relative;
    color: var(--text-secondary);
    padding: 8px 16px;
    font-size: 0.9rem;
    cursor: pointer;

    .icon {
      font-size: 1rem;
      margin-right: 8px;
    }

    &.disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }

    &.active,
    &:hover {
      color: var(--primary-color);
    }

    &.active {
      &::before {
        content: "";
        bottom: -2px;
        height: 2px;
        left: 0;
        right: 0;
        background-color: var(--primary-color);
        display: block;
        position: absolute;
        z-index: 1;
      }
    }
  }
}
