.bookmark-wrapper {
  display: flex;
  height: 100%;

  .group-wrapper {
    overflow: auto;
    border-right: 1px solid var(--border-primary);
  }
  .card-wrapper {
    flex: 1;
    overflow: auto;
  }
  .current-tab-wrapper {
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--border-primary);
    padding: 0 15px;
    width: 230px;

    .current-tab-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 20px 0;

      .tab-title {
        font-size: 1.2rem;
      }
    }

    .current-tab-list {
      flex: 1;
      overflow: auto;

      .current-list-item {
        display: flex;
        align-items: center;
        background: var(--gray-800);
        font-size: 0.8rem;
        padding: 8px;
        margin-bottom: 10px;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background: var(--gray-700);
        }

        .fav-img {
          width: 20px;
          height: 20px;
          margin-right: 12px;
        }

        .fav-img-icon {
          font-size: 1.3rem;
          color: var(--text-secondary);
        }

        .tab-title {
          flex: 1;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
