.merge-group-modal {
  .content {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    .title {
      margin-bottom: 12px;
      font-size: 0.9rem;
    }
  }
  .react-responsive-modal-modal {
    min-width: 400px;
  }
}
