.group-card-wrapper {
  background: var(--body-bg-color);
  border-bottom: 1px solid var(--border-primary);
  padding-bottom: 30px;
  padding: 20px;
  cursor: grab;

  .group-card-title {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    margin-bottom: 15px;
    height: 30px;

    .group-name-edit {
      display: none;
      line-height: 1;
      vertical-align: middle;
      margin-left: 10px;
      cursor: pointer;
    }
    .options-block {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: flex-end;
      transition: all .2s ease-in-out;
      opacity: 0;

      &.show {
        opacity: 1;
      }
    }
  }

  .group-name {
    display: flex;
    align-items: center;
    cursor: pointer;

    .icon-collapse {
      font-size: 1.4rem;
      line-height: 0;
      padding: 10px;
      color: var(--primary-color);
    }
  }

  .group-card-content {
    display: flex;
    flex-wrap: wrap;

    .empty-block {
      text-align: center;
      width: 100%;
      border: 1px dashed var(--border-secondary);
      color: var(--border-secondary);
      font-size: 0.9rem;
      padding: 8px;
      border-radius: var(--btn-border-radius);
    }
  }

  .hover {
    display: none;
  }

  &:hover {
    .group-card-title {
      .group-name-edit {
        display: inline-block;
      }
      .options-block {
        opacity: 1;
      }
    }
    .hover {
      display: inline-block;
    }
    .hover-revert {
      display: none;
    }
  }
}
