@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 200;
  src: url("/assets/fonts/Nunito-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 300;
  src: url("/assets/fonts/Nunito-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 400;
  src: url("/assets/fonts/Nunito-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 600;
  src: url("/assets/fonts/Nunito-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 700;
  src: url("/assets/fonts/Nunito-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 800;
  src: url("/assets/fonts/Nunito-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 800;
  src: url("/assets/fonts/Nunito-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 200;
  src: url("/assets/fonts/Nunito-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/Nunito-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/Nunito-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/Nunito-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  src: url("/assets/fonts/Nunito-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  src: url("/assets/fonts/Nunito-Black.ttf") format("truetype");
}

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --body-bg-color: #0f131a;
  --header-bg-color: #1a1d24;
  --text-color: #f7f7fa;
  --text-secondary: #e5e5ea;
  --primary-color: #2196f3;
  --danger-color: #d12f1d;
  --success-color: #27a12e;

  --border-primary: #8e8e93;
  --border-secondary: #7a7a7a;

  --btn-default-bg: #3c3f43;
  --btn-default-hover-bg: #5c6066;
  --btn-default-text: #e9ebf0;

  --btn-primary-bg: var(--primary-color);
  --btn-primary-hover-bg: #25b3f5;
  --btn-primary-text: #fff;

  --btn-danger-bg: var(--danger-color);
  --btn-danger-hover-bg: #e63f30;
  --btn-danger-text: #fff;

  --btn-success-bg: var(--success-color);
  --btn-success-hover-bg: #3fab45;
  --btn-success-text: #fff;

  --btn-border-radius: 6px;

  --scroll-bg-color: rgba(255, 255, 255, 0.2);
  --scroll-thumb-color: rgba(255, 255, 255, 0.3);

  --z-index-popover: 1060;
  --popover-bg-color: #292d33;
  --popover-border-radius: 4px;
  --popover-border-color: #575757;
  --popover-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

  --z-index-modal: 1020;
  --modal-bg-color: #1a1d24;
  --modal-border-radius: 4px;

  --hover-bg-color: rgba(255, 255, 255, 0.05);
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--scroll-bg-color);
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--scroll-thumb-color);
}

html,
body {
  height: 100%;
  margin: 0;
  font-size: 16px;
}

body {
  font-family: "Nunito", sans-serif;
  color: var(--text-color);
}

#newtabRoot {
  height: 100%;
}

.main-bg {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  background-attachment: fixed;
  background-image: radial-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    radial-gradient(rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 0.3) 166%);
  background-position-y: 0%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  opacity: 1;
  position: absolute;
  top: 0px;
  transition: opacity 0.3s linear 0s;
  width: 100%;
}

.main-layout-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--body-bg-color);
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;

  &.bg {
    background-color: transparent;
    .main-header {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

.main-body {
  flex: 1;
  overflow: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
