@use "sass:math";

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --body-bg-color: #0f131a;
  --header-bg-color: #1a1d24;
  --text-color: #e9ebf0;
  --text-secondary: #a4a9b3;
  --text-disabled: #5c6066;
  --primary-color: #2196f3;
  --primary-color-dark:  #34c3ff;
  --danger-color: #d12f1d;
  --success-color: #27a12e;

  --border-primary: #3c3f43;
  --border-secondary: #292d33;

  // Button
  --btn-default-bg: #3c3f43;
  --btn-default-hover-bg: #5c6066;
  --btn-default-text: #e9ebf0;

  --btn-primary-bg: var(--primary-color);
  --btn-primary-hover-bg: #25b3f5;
  --btn-primary-text: #fff;

  --btn-danger-bg: var(--danger-color);
  --btn-danger-hover-bg: #e63f30;
  --btn-danger-text: #fff;

  --btn-success-bg: var(--success-color);
  --btn-success-hover-bg: #3fab45;
  --btn-success-text: #fff;

  --btn-border-radius: 6px;

  --scroll-bg-color: rgba(255, 255, 255, 0.2);
  --scroll-thumb-color: rgba(255, 255, 255, 0.3);

  // Popover
  --z-index-popover: 1060;
  --popover-bg-color: #292d33;
  --popover-border-radius: 4px;
  --popover-border-color: #575757;
  --popover-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

  // Modal
  --z-index-modal: 1020;
  --modal-bg-color: #1a1d24;
  --modal-border-radius: 4px;

  // Input
  --input-bg: #1a1d24;
  --input-border-radius: 6px;
  --input-focus-border: var(--primary-color-dark);
  --state-focus-shadow: 0 0 0 3px rgba(52, 195, 255, 0.25);
  --input-disabled-bg: #292d33;

  --hover-bg-color: rgba(255, 255, 255, 0.05);

  // Radio
  --radio-checked-bg: var(--primary-color-dark);
  --radio-border-color: #6a6f76;
  --radio-disabled-bg: #5c6066;
  --radio-marker: #1a1d24;

  // Switch
  --toggle-bg: #6a6f76;
  --toggle-thumb: #fff;
  --toggle-hover-bg: #858b94;
  --toggle-checked-bg: #169de0;
  --toggle-checked-hover-bg: #25b3f5;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--scroll-bg-color);
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--scroll-thumb-color);
}

html,
body {
  height: 100%;
  margin: 0;
  font-size: 16px;
}

body {
  font-family: "Nunito", sans-serif;
  color: var(--text-color);
}

#newtabRoot {
  height: 100%;
}

.main-bg {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  background-attachment: fixed;
  background-image: radial-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    radial-gradient(rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 0.3) 166%);
  background-position-y: 0%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  opacity: 1;
  position: absolute;
  top: 0px;
  transition: opacity 0.3s linear 0s;
  width: 100%;
}

.main-layout-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--body-bg-color);
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;

  &.bg {
    background-color: transparent;
    .main-header {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

.main-body {
  flex: 1;
  overflow: auto;

  .image-loader-main {
    position: fixed;
    top: 80px;
    left: 20px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}


.d-flex {
  display: flex;
}

$grid-columns: 12;

@mixin calc-grid-column($index, $class) {
  .col-#{$class}-#{$index} {
    width: percentage(math.div($index, $grid-columns));
  }
}

@media (min-width: 576px) {
  @for $i from 0 through $grid-columns {
    @include calc-grid-column($i, "sm");
  }
}

@media (min-width: 992px) {
  @for $i from 0 through $grid-columns {
    @include calc-grid-column($i, "md");
  }
}

@media (min-width: 1200px) {
  @for $i from 0 through $grid-columns {
    @include calc-grid-column($i, "xl");
  }
}

@media (min-width: 1400px) {
  @for $i from 0 through $grid-columns {
    @include calc-grid-column($i, "xxl");
  }
}
