@use "sass:math";

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --gray-50: #e9ebf0;
  --gray-100: #cbced4;
  --gray-200: #a4a9b3;
  --gray-300: #858b94;
  --gray-400: #6a6f76;
  --gray-500: #5c6066;
  --gray-600: #3c3f43;
  --gray-700: #292d33;
  --gray-800: #1a1d24;

  --white-color: #ffffff;
  --body-bg-color: #0f131a;
  --header-bg-color: var(--gray-800);
  --text-color: var(--gray-50);
  --text-secondary: var(--gray-200);
  --text-disabled: var(--gray-500);
  --primary-color: #2196f3;
  --primary-color-hover:  #25b3f5;
  --primary-color-focus-shadow: 0 0 0 3px rgba(52, 195, 255, 0.25);
  --danger-color: #d12f1d;
  --danger-color-hover: #d12f1d;
  --success-color: #27a12e;
  --succss-color-hover: #3fab45;
  --hover-bg-color: rgba(255, 255, 255, 0.05);
  --border-primary: var(--gray-600);
  --border-secondary: var(--gray-700);
  --scroll-bg-color: rgba(255, 255, 255, 0.2);
  --scroll-thumb-color: rgba(255, 255, 255, 0.3);

  // Button
  --btn-default-bg: var(--gray-600);
  --btn-default-hover-bg: var(--gray-500);
  --btn-default-text: var(--gray-50);

  --btn-primary-bg: var(--primary-color);
  --btn-primary-hover-bg: var(--primary-color-hover);
  --btn-primary-text: var(--white-color);

  --btn-danger-bg: var(--danger-color);
  --btn-danger-hover-bg: var(--danger-color-hover);
  --btn-danger-text: var(--white-color);

  --btn-success-bg: var(--success-color);
  --btn-success-hover-bg: var(--succss-color-hover);
  --btn-success-text: var(--white-color);

  --btn-border-radius: 6px;

  // Popover
  --z-index-popover: 1060;
  --popover-bg-color: var(--gray-700);
  --popover-border-radius: 4px;
  --popover-border-color: #575757;
  --popover-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

  // Modal
  --z-index-modal: 1020;
  --modal-bg-color: var(--gray-800);
  --modal-border-radius: 4px;

  // Input
  --input-bg: var(--gray-800);
  --input-border-radius: 6px;
  --input-focus-border: var(--primary-color-hover);
  --input-disabled-bg: var(--gray-700);

  // Radio
  --radio-checked-bg: var(--primary-color-hover);
  --radio-border-color: var(--gray-400);
  --radio-disabled-bg: var(--gray-500);
  --radio-marker: var(--gray-800);

  // Switch
  --toggle-bg: var(--gray-400);
  --toggle-thumb: var(--white-color);
  --toggle-hover-bg: var(--gray-300);
  --toggle-checked-bg: var(--primary-color);
  --toggle-checked-hover-bg: var(--primary-color-hover);
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--scroll-bg-color);
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--scroll-thumb-color);
}

html,
body {
  height: 100%;
  margin: 0;
  font-size: 16px;
}

body {
  font-family: "Nunito", sans-serif;
  color: var(--text-color);
}

#newtabRoot {
  height: 100%;
}

.main-bg {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  background-attachment: fixed;
  background-image: radial-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    radial-gradient(rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 0.3) 166%);
  background-position-y: 0%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  opacity: 1;
  position: absolute;
  top: 0px;
  transition: opacity 0.3s linear 0s;
  width: 100%;
}

.main-layout-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--body-bg-color);
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;

  &.bg {
    background-color: transparent;
    .main-header {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

.main-body {
  flex: 1;
  overflow: auto;

  .image-loader-main {
    position: fixed;
    top: 80px;
    left: 20px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}


.d-flex {
  display: flex;
}

.error-color {
  color: var(--danger-color);
}

$grid-columns: 12;

@mixin calc-grid-column($index, $class) {
  .col-#{$class}-#{$index} {
    width: percentage(math.div($index, $grid-columns));
  }
}

@media (min-width: 576px) {
  @for $i from 0 through $grid-columns {
    @include calc-grid-column($i, "sm");
  }
}

@media (min-width: 992px) {
  @for $i from 0 through $grid-columns {
    @include calc-grid-column($i, "md");
  }
}

@media (min-width: 1200px) {
  @for $i from 0 through $grid-columns {
    @include calc-grid-column($i, "xl");
  }
}

@media (min-width: 1400px) {
  @for $i from 0 through $grid-columns {
    @include calc-grid-column($i, "xxl");
  }
}

.drag-icon {
  display: inline-flex;
  width: 30px;
  cursor: grab;

  .ri-more-2-fill {
    width: 8px;

    &.first {
      margin-left: -6px;
    }
  }
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
