.collection-group-wrapper {
  display: flex;
  flex-direction: column;
  overflow: auto;
  border-right: 1px solid var(--border-primary);
  width: 250px;

  &.empty {
    flex: 1;
  }

  .group-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    padding: 0 15px;

    .group-header-title {
      font-size: 1.2rem;
    }
  }

  .group-list {
    flex: 1;
    overflow: auto;
    padding: 0 15px;
  }

  .empty-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    .icon {
      font-size: 5rem;
      color: var(--text-secondary);
      margin-bottom: 25px;
    }
    .title {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }
    .sub-title {
      color: var(--text-disabled);
      margin-bottom: 25px;
    }
  }
}

.group-list-item {
  display: flex;
  align-items: center;
  background: var(--gray-800);
  font-size: 0.8rem;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background: var(--gray-700);
  }

  .group-icon {
    width: 20px;
    height: 20px;
    margin-right: 12px;
    font-size: 1.3rem;
    color: var(--text-secondary);
  }

  .group-list-title {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
