.home-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .info-text {
    text-align: center;
    .time {
      font-size: 6rem;
      line-height: 1.2;
    }

    .greeting {
      font-size: 2rem;
    }
  }
}
