.workspace-modal-wrapper {
  min-width: 800px;

  .workspace-basic {
    display: flex;
    margin-bottom: 30px;

    .icon-selector-block {
      margin-right: 15px;
    }
  }

  .setting-body-wrapper {
    display: flex;
    flex-direction: column;
    height: 400px;

    .setting-body {
      flex: 1;
      overflow: auto;
      padding-top: 20px;
      padding-right: 15px;
      display: none;

      &.active {
        display: block;
      }

      .url-textarea {
        max-height: 150px;
      }

      .theme-picker {
        display: flex;
        flex-wrap: wrap;

        .picker-block {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.5rem;
          height: 40px;
          width: 40px;
          border-radius: 2px;
          margin-right: 15px;
          cursor: pointer;

          .icon {
            transition: opacity 0.2s ease-in;
            opacity: 0;
          }

          &:hover, &.active {
            .icon {
              opacity: 1;
            }
          }
        }
      }

      .mutli-image-wrapper {
        .input-wrapper {
          display: flex;
          align-items: center;
          margin-bottom: 10px;

          .close-icon {
            line-height: 0;
            padding: 10px 0;
            font-size: 1.4rem;
            display: flex;
            padding-left: 8px;
            cursor: pointer;
          }
        }
        .footer-add {
          padding-top: 5px;
        }
      }
    }
  }
}
