.workspace-modal-wrapper {
  min-width: 850px;

  .workspace-basic {
    display: flex;
    margin-bottom: 30px;

    .icon-selector-block {
      margin-right: 15px;
    }
  }

  .setting-body-wrapper {
    display: flex;
    min-height: 400px;

    .setting-sidebar {
      min-height: 100%;
      background: var(--gray-700);
      border-radius: 2px;
      .item {
        padding: 10px;
        min-width: 130px;
        border-bottom: 1px solid var(--border-primary);
        font-size: 0.9rem;
        cursor: pointer;

        &:hover,
        &.active {
          background: var(--gray-600);
        }
      }
    }
    .setting-body {
      flex: 1;
      overflow: auto;
      padding: 0 40px;
      display: none;

      &.active {
        display: block;
      }

      .form-item {
        &:first-child {
          margin-top: 0;
        }
      }

      .url-textarea {
        max-height: 150px;
      }

      .theme-picker {
        display: flex;
        flex-wrap: wrap;

        .picker-block {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.5rem;
          height: 40px;
          width: 40px;
          border-radius: 2px;
          margin-right: 15px;
          cursor: pointer;

          .icon {
            transition: opacity 0.2s ease-in;
            opacity: 0;
          }

          &:hover, &.active {
            .icon {
              opacity: 1;
            }
          }
        }
      }

      .mutli-image-wrapper {
        .input-wrapper {
          display: flex;
          align-items: center;
          margin-bottom: 10px;

          .close-icon {
            line-height: 0;
            padding: 10px 0;
            font-size: 1.4rem;
            display: flex;
            padding-left: 8px;
            cursor: pointer;
          }
        }
        .footer-add {
          padding-top: 5px;
        }
      }
    }
  }
}
