.workspace-modal-wrapper {
  min-width: 500px;

  .workspace-basic {
    display: flex;
    margin-bottom: 30px;

    .icon-selector-block {
      margin-right: 15px;
    }
  }

  .setting-block {
    margin-top: 20px;
    .title {
      padding: 10px;
      background: #2c2f34;
      margin-bottom: 15px;
      border-radius: 2px;
    }
    .setting-content {
      margin: 10px;
      margin-bottom: 25px;

      .url-textarea {
        max-height: 150px;
      }
    }
  }
}
