.search-bar-modal {
  .react-responsive-modal-modal {
    margin-top: 100px;
  }

  .search-bar {
    display: flex;
    flex-direction: column;
    min-height: 0;
    width: 700px;

    input {
      min-height: 60px;
      font-size: 1.2rem;
    }

    .search-body {
      overflow: auto;
      flex: 1;
      max-height: 500px;
    }

    .empty-body {
      padding: 60px 10px;
      text-align: center;
    }

    .group-bar {
      padding: 8px 0;
      .group-title {
        color: var(--text-secondary);
        font-size: 0.8rem;
        margin: 5px 0 10px 0;
        padding: 0 16px;
      }
      .bookmark-bar {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        padding: 8px 16px;

        &:hover {
          cursor: pointer;
          background: var(--gray-700);
        }

        .fav-img {
          height: 30px;
          width: 30px;
          margin-right: 12px;
          font-size: 2rem;
          color: var(--text-secondary);
        }
        .details {
          flex: 1;
          min-width: 0;
          .title {
            font-size: 0.9rem;
          }
          .url {
            color: var(--gray-400);
            font-size: 0.7rem;
            margin-top: 2px;
          }
        }
      }
    }
  }
}
