.react-responsive-modal-root {
  z-index: var(--z-index-modal);
  .react-responsive-modal-modal {
    display: inline-flex;
    flex-direction: column;
    background-color: var(--modal-bg-color);
    border-radius: var(--modal-border-radius);
    color: var(--text-color);
    padding: 0;
    max-height: 90%;
    max-width: 90%;

    .react-responsive-modal-closeButton {
      top: 18px;
      font-size: 1.5rem;
      color: inherit;
    }

    .modal-footer {
      padding: 20px;
      display: flex;
      justify-content: end;

      .btn {
        margin-left: 12px;
      }
    }

    .modal-body {
      padding: 20px;
      padding-bottom: 0;
      overflow: auto;
    }

    .modal-header {
      padding: 20px 50px 15px 20px;
    }
  }
}
