.main-header {
  background-color: var(--header-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  transition: background-color 0.3s ease;

  .workspace-block {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    padding: 10px;
    i {
      margin-left: 8px;
    }
  }

  .nav-block {
    a {
      padding: 10px;
      font-size: 0.85rem;
      text-transform: uppercase;
      font-weight: 600;

      &.active {
        color: var(--primary-color);
      }
    }
  }
}
